[submodule "themes/nostyleplease.git"]
	path = themes/nostyleplease.git
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease.git
